{{ range $host, $containers := groupByMulti $ "Env.DOMAIN_NAME" "," }}
    {{ range $index, $container := $containers }}
        {{ range $index, $network := $container.Networks }}
            {{ if ne $network.IP "" }}
address=/{{ $host }}/{{ $network.IP }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
